body:not(.page-template-page-for-visual-composer) {
    background: #f6f7fb;
}


/**********************
header 3 start
*********************/
.header-block-3, 
.header-block-3 p {
font-size: 13px;
}
.home .header-absolute, 
.home .header-absolute p {
color: #fff;
}

body:not(.pm_mobile).home .header-absolute a,
body:not(.pm_mobile).home .header-absolute a:hover{
   color:#fff;
   padding: 10px;
}
body:not(.pm_mobile).home .header-absolute a:last-child{
padding-right: 0;
}
.pm_mobile a,
.pm_mobile a:hover{
   color:#222;
   padding: 10px;
}

/**********************
header 3 finish
*********************/

