.boxed-shadow-style .blog-category ul.bloglist li,
.boxed-shadow-style .sidebar .avados_sidebar_widget,
.boxed-shadow-style .single-post-shadow,
.boxed-shadow-style .masonry .bloglist-content,
.boxed-shadow-style .page-content .wrapper,
.boxed-shadow-style .fullpage  .wrapper{
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background: #fff;
    
}


.boxed-shadow-style .blog-category ul.bloglist li {
    background: #fff;
}



.boxed-shadow-style .woocommerce ul.products.columns-3 li {
      width: 33.33%;
       margin: 0 0 30px 0;
    padding: 0 15px;
    
    display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}
.boxed-shadow-style .woocommerce ul.products li.product a:first-child {
    display: block;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background: #fff;
        overflow: hidden;    
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.boxed-shadow-style .page-header {
    padding: 20px 0;
    margin-bottom: 0px;
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
}

/*product*/
.boxed-shadow-style .single-product .product {
   
    margin-bottom: 40px;
} 

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary { 
    background: #fff;
    padding: 30px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.avados-flexslider .flex-viewport {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    }
    .woocommerce . flex-control-thumbs img {
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    }
.boxed-shadow-style .woocommerce-page,
.boxed-shadow-style .single-product{
background: #f6f7fb;
}

.boxed-shadow-style .searchform {
    border-bottom: 0;
}

.boxed-shadow-style .wrapper {
padding:  30px;
margin-bottom: 50px;
}


/*on page */
.boxed-shadow-style .page .page-header {
padding: 0 0 20px 0;
}
.boxed-shadow-style .page .page-header .title-page{
padding: 0 ;
}
