.modal {
	padding: 15px;
	border: 1px solid black;
	background: #fff;
	
	left: 0;
}
.modal:before {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	transform: rotate(45deg);
	background: #fff;
	top: 37px;
	left: 50px;
}
.popup-block .flex {
	align-items: end;
}

.modal h2 {
	font-size: 17px;
}
.about-link {
	margin-top: 15px !important;
	cursor: pointer;
	display: inline-block;
}
.about-link-wrap {
	position: relative;
}
.modal-wrap {
	display: none;
    padding-top: 42px;
    position: absolute;
    width: 418px;
    top: 10%;
	z-index: 999;
}
.about-link:hover + .modal-wrap {
	display: block;
}
.modal-wrap:hover {
	display: block;
}
.avados-popup-img {
	height: 620px !important;
	margin-top: 25px;
}