/* ----- Подключение шрифтов ----- */

@font-face {
  font-family: 'Light';
  src: url('../fonts/Raleway-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* ----- Спецификация ----- */

body {
	font-family: 'Play';
	padding: 0;
	margin: 0;
	color: #120000;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
	border: none;
}

p {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #120000;
}

h1 {
	font-size: 60px;
	color: #fff;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
	background: transparent;
	border: none;
}

img {
	max-width: 100%;
}



input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}

.container-fluid_plain {
	padding: 0;
}

/*----- Header -----*/

.header {
	padding: 30px 0;
}

.logo {
	width: 200px;
}

.tel {
	color: #3a0205;
	font-size: 25px;
}

.button {
	background: #3a0205;
	color: #fff;
	border-radius: 5px;
	width: 240px;
	height: 50px;
	line-height: 48px;
	font-size: 22px;
	cursor: pointer;
	transition: .2s ease-in-out;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	outline: none;
	display: inline-block;
    text-align: center;
}

.button:before {
	content: "";
	background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0px;
	left: -75px;
	transform: skewX(-45deg);
}

.button:hover {
	background: #3a0205;
	color: #fff;
}

.button:hover:before {
  left: 300px;
  transition: .8s ease-in-out;
}

.offer {
	background: url(../img/header.png) no-repeat center / cover;
	padding: 240px 0 110px 0;
}
.header-right {
	display: flex;
	justify-content: space-between;
}
.offer__hand {
	margin-left: -200px;
}

.offer__content {
	margin-left: 200px;
}

.offer_wall {
	background: url(../img/header-old.png) no-repeat center / cover;
}

.offer-btn {
	margin-top: 70px;
}

.icon img {
	width: 70px;
}

.icon {
	margin: 0 auto 30px auto;
    padding: 45px 35px 20px;
    transition: all .3s ease 0s;
    box-shadow: 0 7px 20px -10px rgba(171,171,171,.7);    
}

.icon:hover {
	transform: translateY(-10px);
	box-shadow: 0 10px 50px -12px rgba(171,171,171,.9);
}

.icon__title {
	margin: 20px 0 10px 0;
}

.icon__text {
	color: #999;
}

.icons {
	padding: 40px 0;
}

.products {
	padding: 60px 0;
	background: #f8f8f8;
}

.product__title {
	color: #696969;
	margin: 20px auto 0 auto;
	width: 200px;
}

.product__img {
	height: 350px;
}

.product__img_wall {
	height: 380px;
}

.product-btn {
	margin-top: 60px;
}

.works {
	padding: 40px 0;
}

.work-title {
	color: #696969;
	margin-bottom: 50px;
}

.work-img {
	height: 250px;
	margin-bottom: 30px;
}

.work-text {
	font-size: 25px;
	color: #696969;
	width: 390px;
	margin: 60px auto 20px auto;
}

.map {
	padding: 70px 0 40px 0;
	background: #f8f8f8;
}

.left p {
	font-size: 22px;
}

.map-tel {
	margin: 30px 0;
}

.map-tel a {
	display: block;
	color: #120000;
	font-size: 22px;
}

.footer {
	background: #290c0e;
	padding: 40px 0;
	font-size: 15px;
}

.footer-menu {
	margin-bottom: 40px;
}

.footer-menu__item {
	padding: 15px;
}

.footer-menu__link {
	color: #fff;
}

.footer-menu__link:hover {
	color: #a59394;
}

.footer-tel {
	color: #fff;
	font-size: 15px;
}

.footer-tel:hover {
	color: #fff;
} 

.footer-img {
	width: 170px;
}

.footer-text {
	color: #fff;
}

.adress-tel:hover {
	color: #120000;
}

.work-img_size {
	height: 300px;
}

.work-img_size_1 {
	height: 280px;
}

.work-img_hand {
	height: 300px;
	margin-bottom: 50px;
}