/* Media Queries */

@media screen and (min-width:  1200px) {

	.container {
		max-width: 1230px;
	}

}

/* 992 - 1200 px */
@media screen and (max-width: 1200px) {
	.icon {
		height: 280px;
	}
}

/* 768 - 992 px */
@media screen and (max-width: 992px) {

}

/* 576 - 768 px */
@media screen and (max-width: 768px) {

}

/* 320 - 576 px */
@media screen and (max-width: 576px) {

	.offer {
		background: url(../img/header.png) no-repeat center left / cover;
	}

	.tel {
		margin: 20px 0;
		display: inline-block;
	}

	h1 {
		font-size: 30px;
	}

	.work-text {
		width: auto;
		font-size: 18px;
	}

	h3 {
		font-size: 20px;
	}

	.product {
		margin-bottom: 20px;
	}

	.product__img_wall {
		height: auto;
	}

	.left p {
		font-size: 18px;
	}

	.map-tel a {
		font-size: 18px;
	}

	.footer-text {
		font-size: 14px;
	}

	.footer-menu {
		flex-direction: column;
	}

	.footer-img {
		margin: 10px 0 30px 0;
	}

}