.social_icon_list  {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.fab {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
}

.footer ul:not(.social-network) li:before {
	display: none !important;
}

.footer ul li a:hover:after {
 	display: none; 
}

.social .social_icon_list .fa-instagram, .social .ti-instagram {
 	color: #fff; 
}

.footer .social_icon_list {
 	padding: 10px 0 0 0; 
  justify-content: center;
}

.footer .social .social_icon_list li {
 	padding: 0; 
}