.prettyMenu {
    z-index: 999;
    position: relative;
    }
    
    .prettyMenu .pm_menu_container {
	display: block !important;
}

.prettyMenu .pm_menu_container {
	height: auto !important;
}

.header ul.menu {
	padding: 0;
	margin: 0;
}

.header ul.menu li {
	/* display: inline-block; */
}

.header ul.menu li a {
    vertical-align: middle;
    display: block;
}

.header ul.menu li ul {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

body:not(.pm_mobile) .header ul.menu > li ul {
border-radius: 5px;
	    -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.17);
}



.header ul.menu > li > ul:before {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    left: 3rem;    
  
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    z-index: 9;
}



.header ul.menu li:hover>ul {
	visibility: visible;
	opacity: 1;

	    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.header ul.menu.main li a i.arrow {
	padding-left: 5px;
	padding-right: 0;
	margin: 0;
}

.prettyMenu .arrow_click {
	display: none;
}
.header ul.menu li >ul >li > a {
opacity: 0.7;
}
.header ul.menu li >ul >li > a:hover {
opacity: 1;
}


/*loading first end */



.prettyMenu .hamburger:hover {
	opacity: 1;
}

.prettyMenu .hamburger--emphatic.is-active .hamburger-inner,
.prettyMenu .hamburger--stand.is-active .hamburger-inner,
.prettyMenu .hamburger--spring.is-active .hamburger-inner,
.prettyMenu .hamburger--3dx.is-active .hamburger-inner,
.prettyMenu .hamburger--3dy.is-active .hamburger-inner {
	background: transparent;
}

.prettyMenu .hvr-underline-from-center,
.prettyMenu .hvr-underline-from-left,
.prettyMenu .hvr-underline-from-right {
	box-shadow: none;
}


/*//////////// PRETTY MENU ////////////*/

.prettyMenu {
	position: relative;
	-moz-transition: top 0.5s ease-in-out, height 0.5s ease-in-out;
	-o-transition: top 0.5s ease-in-out, height 0.5s ease-in-out;
	-webkit-transition: top 0.5s ease-in-out, height 0.5s ease-in-out;
	transition: top 0.5s ease-in-out, height 0.5s ease-in-out;
	top: 0;
	display: inline-block;
}

.header ul.menu {
	padding: 0;
	margin: 0;
}

.header ul.menu li {
	display: inline-block;
	position: relative;
}

.header ul.menu li:hover>ul {
	visibility: visible;
	opacity: 1;
}

.header ul.menu li ul {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	-moz-transform: translate3d(0,30px,0);
	-ms-transform: translate3d(0,30px,0);
	-webkit-transform: translate3d(0,30px,0);
	-o-transform: translate3d(0,30px,0);
	transform: translate3d(0,30px,0);
}

.header ul.menu li ul li {
	display: block;
}

.header ul.menu li ul li ul {
	top: 0;
	left: 100%;
}


.header ul.menu li > ul > li:hover > ul {
margin-left: 20px;
}
.header ul.menu ul li ul li:hover a:before {

  content: '';
    display: block;
    position: absolute;
    top: 17px;
    left: -17px;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-bottom-color: transparent !important;
    z-index: 9;
    
    border-top: 9px solid #333333;
    border-bottom: 9px solid #333333;
    border-left: 9px solid #333333;
    border-right: 9px solid #333333;
}
.header ul.menu.main>li {
	z-index: 1;
}

.header ul.menu.main>li ul {
	z-index: -1;
}

.prettyMenu .arrow_click {
	display: none;
}

.prettyMenu:not(.pm_mobile) ul.main {
	display: inline-block !important;
			z-index: 999;
}






.prettyMenu:not(.pm_mobile) ul li:hover>ul {
	display: block !important;
}

.prettyMenu:not(.pm_mobile) ul li a {
	
	-moz-transition: padding 0.3s ease-in-out;
	-o-transition: padding 0.3s ease-in-out;
	-webkit-transition: padding 0.3s ease-in-out;
	transition: padding 0.3s ease-in-out;
}


/*******************/

.header ul.menu ul:not(.main) li {
	min-width: 200px;
}

.prettyMenu .pm_toggle {
	display: none;
}

.header ul.menu.main li:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 15%;
	height: 70%;
	width: 1px;
}

.header ul.menu:not(.main) li:before,
.prettyMenu.pm_mobile .pm_main_mobile:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 90%;
	margin: 0 5%;
}

.prettyMenu:not(.pm_mobile) ul li:last-child:before,
.header ul.menu li.prev:before,
.header ul.menu li:hover:before,
.header ul.menu.main>li:last-child:before {
	display: none;
}

.prettyMenu.pm_no_dividers ul li:before {
	display: none;
}

.header ul.menu.main li a i.arrow {
	padding-left: 5px;
	padding-right: 0;
	margin: 0;
}

.header ul.menu:not(.main) li a i.arrow {
	position: absolute;
	right: 20px;
	top: 50%;
	line-height: 0;
}
.header ul.menu.main li ul a i.arrow {
    position: absolute;
    right: 15px;
}

.prettyMenu.pm_mobile ul.main li.toggle.up a i.arrow {
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.prettyMenu.pm_mobile ul.main li.toggle a i.arrow {
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	position: absolute;
	right: 30px;
	top: 50%;
	line-height: 0;
}

.prettyMenu.pm_mobile ul.main li.toggle a .arrow_click {
	width: 65px;
	height: 100%;
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

.prettyMenu.pm_mobile ul li.toggle a i.arrow {
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	padding: 0;
	margin: 0;
}

.prettyMenu.pm_mobile ul:not(.main) li.toggle a i.arrow {
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.prettyMenu.pm_mobile ul:not(.main) li.toggle.up a i.arrow {
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.prettyMenu.pm_mobile {
	top: 0 !important;
	-moz-transition: padding 0.5s ease-in-out;
	-o-transition: padding 0.5s ease-in-out;
	-webkit-transition: padding 0.5s ease-in-out;
	transition: padding 0.5s ease-in-out;
	background: #222;
}

.prettyMenu.pm_mobile .animated {
	-webkit-animation: none !important;
	animation: none !important;
}



.prettyMenu.pm_mobile .pm_main_mobile {
	display: block;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	height: 90px;

}

	
	
.prettyMenu.pm_mobile.pm_icon_menu {
	background: none;
}

.prettyMenu.pm_mobile.pm_icon_menu.shadow .pm_main_mobile {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.prettyMenu.pm_mobile.pm_icon_menu .pm_menu_container.pm_left.pm_on_top {
	width: calc(100% - 65px);
}

.prettyMenu.pm_mobile.pm_icon_menu .pm_main_mobile {
	background: none !important;
}

.prettyMenu.pm_mobile.pm_icon_menu .pm_main_mobile:before {
	background: none !important;
	border: none !important;
}

.prettyMenu.pm_mobile ul.main {
	display: inline-block;
	position: relative;
	z-index: 200;
	width: 100%;
}

.prettyMenu.pm_mobile ul:not(.main) {
	overflow-x: hidden;
}

.prettyMenu.pm_mobile ul li {
	display: block;

}



.prettyMenu.pm_mobile ul li ul {
	position: relative;
	display: none;
	opacity: 1;
	visibility: visible;
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	transition: none;
}

.prettyMenu.pm_mobile ul li:hover>ul {
	display: none;
	opacity: 1;
	visibility: visible;
}

.prettyMenu.pm_mobile ul li:before,
.prettyMenu.pm_mobile .pm_main_mobile:before {
	width: 100%;
	height: 1px;
	bottom: 0;
	margin: 0;
}

.prettyMenu.pm_mobile ul li ul li ul {
	left: 0;
	z-index: 1;
}

.prettyMenu.pm_mobile.pm_fixed .pm_main_mobile {
	position: fixed;
	width: 100%;
}

.prettyMenu.pm_mobile.pm_fixed .pm_menu_container {
	overflow-y: auto;
	height: calc(100vh - 57px);
	top: 57px;
}

.prettyMenu.pm_mobile.pm_fixed .pm_menu_container.pm_on_top {
	height: 100vh;
}

.prettyMenu.pm_mobile ul li a {
position: relative;
	white-space: normal;
}

.prettyMenu.pm_mobile ul li ul li:first-child:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	margin: 0;
}

.prettyMenu.pm_mobile ul li ul li:first-child:hover:after {
	display: none;
}

.prettyMenu.pm_mobile .pm_toggle {
	display: block;
	float: right;
	cursor: pointer;
	margin-top: -10px;
	/*margin-right: -20px;
      height: 57px; */
}

.prettyMenu.pm_mobile .pm_toggle .hamburger--arrow.is-active .hamburger-inner:after {
	bottom: -9px;
	transform: translate3d(-10px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.prettyMenu.pm_mobile .pm_toggle .hamburger--arrow.is-active .hamburger-inner:before {
	top: -9px;
	transform: translate3d(-10px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.prettyMenu.pm_mobile .pm_toggle .hamburger-box {
	margin-top: 4px;
}

.prettyMenu.pm_mobile .pm_menu_container {
	position: absolute;
	width: 100%;
	display: none;
}

.prettyMenu.pm_mobile .pm_menu_container.pm_left {
	display: block;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	left: -100%;
}

.prettyMenu.pm_mobile .pm_menu_container.pm_left.on {
	left: 0;
}

.prettyMenu.pm_mobile .pm_menu_container.pm_left.pm_on_top {
	width: 250px;
	top: 0;
}

.prettyMenu.shadow .pm_menu_container,
.prettyMenu.shadow .pm_main_mobile {
	-webkit-box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.3);
}

.prettyMenu.shadow:not(.pm_mobile) ul:not(.main) {
	-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.prettyMenu.center:not(.pm_mobile) .pm_menu_container {
	text-align: center;
}

.prettyMenu.center ul:not(.main) {
	text-align: left;
}


/*tis jump finisih */




/* menu bottom line style  */

@media (min-width: 1024px) {
	.bottom-line-style ul>li>a:after {
		content: "";
		display: block;
		border-bottom: 2px solid;
		    margin: 3px auto 0;
		z-index: -1;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: scale(1);
		transform: scale(1);
		width: 100%;
		
	}
	.bottom-line-style ul>li>a:after {
		-webkit-transform: scale(0, 1);
		transform: scale(0, 1);
	}
	.bottom-line-style ul>li>a:hover::after {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	/* current one page style */
	.bottom-line-style ul>li>.current:hover:after {
		background-position: center right;
	}
	.bottom-line-style ul>li>a.current:after {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	.bottom-line-style ul>li>.current:after {
		background-position: center right;
	}
	/* current default style */
	.bottom-line-style ul>li>.current-menu-item:hover:after {
		background-position: center right;
	}
	.bottom-line-style ul>li>a.current-menu-item:after {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	.bottom-line-style ul>li>.current-menu-item:after {
		background-position: center right;
	}
	.bottom-line-style ul>li.current-menu-item>a::after {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	.bottom-line-style ul li.btn-menu a:after {
		display: none;
	}
	.bottom-line-style ul ul li a:after {
		display: none;
	}
}

