.bg-after:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block !important;
    content: '';
    background-image: -webkit-linear-gradient(top, rgba(25, 52, 75, 0.39), rgb(32, 52, 73));
    background-image: -o-linear-gradient(top, rgba(25, 52, 75, 0.39), rgb(32, 52, 73));
    background-image: -ms-linear-gradient(top, rgba(25, 52, 75, 0.39), rgb(32, 52, 73));
    background-image: linear-gradient(top, rgba(25, 52, 75, 0.39), rgb(32, 52, 73));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7f000000', endColorstr='#4c000000');
}
.bg-after > div {
position: relative;
z-index: 5;
}

body .vc_row .vc_column_container .vc_column-inner {
 padding-top: 0px;
padding-bottom: 0px;
}
body .vc_col-has-fill>.vc_column-inner, 
body .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, 
body .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, 
body .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, 
body .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, 
body .vc_row-has-fill>.vc_column_container>.vc_column-inner, 
body .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, 
body .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, 
body .vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, 
body .vc_section.vc_section-has-fill+.vc_section,


 body.compose-mode .vc_vc_row>.vc_parallax,
 body.compose-mode .vc_vc_row>[data-vc-full-width=true], 
 body.compose-mode .vc_vc_row_inner, 
 body.compose-mode .vc_vc_section>.vc_parallax, 
 body.compose-mode .vc_vc_section>[data-vc-full-width=true], 
 body.compose-mode .vc_vc_video
 {
    padding-top: 0px;
}
 body.compose-mode .vc_vc_row>[data-vc-full-width=true],
body.compose-mode .vc_row,
.vc_row {
 padding-top: 35px;
padding-bottom: 35px;
}
.page-header ~ .vc_row {
 padding-top: 0px;
}
.wrapper > .vc_row {
 padding-top: 0px;
}

.vc_row.vc_row-no-padding{
 padding-top: 0px;
padding-bottom: 0px;
}

.vc_row-no-padding .vc_row {
padding-top: 0px;
padding-bottom: 0px;
}

.avados_title ~ .vc_row {
     padding-top: 25px;
        padding-bottom: 0;
}

.vc_row .wpb_content_element {
    margin-bottom: 0px;

}



 body.compose-mode .vc_row{
 padding-top: 35px !important;
padding-bottom: 35px !important;
}



body.compose-mode .vc_row.vc_row-no-padding {
    padding-top: 0px  !important;
    padding-bottom: 0px  !important;
}


/*backend*/
.vc_empty-placeholder {
    margin-bottom: 30px;
}


