

/*.header-block-2 start*/
 
 header-block-2    {
 padding-bottom: 30px;
 }

.header-block-2 .logo-alt {
display: none;
}
.header-right {
	width: 100%;
	margin-top: 15px;
}
.header-icons {
	display: none;
}
.header-mobile {
	padding-left: 15px;
}
.header-block-2 .menu_block_v2{
border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 100%;
     -o-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
    background: #fff;

}
   .header-block-2 ul.menu > li {
border-left: 1px solid #eee;
}
   .header-block-2 ul.menu > li:last-child {
   border-right: 1px solid #eee;
   } 
 .header-block-2 .menu_block_v2 .hvr-shutter-out-horizontal:before {
    top: -1px;
}
.header_v2{
padding: 25px 0;
}

.header ul.menu a {
    padding: 20px;
    color: #222;
}

@media (max-width: 1240px) {
.menu-and-mobile-logo {
    background: transparent;
}
.header-block-2 .menu_v2{
    display: inline-block;
    width: auto;
    }
    }
@media (max-width: 768px) {
	.header-icons {
		display: block;
	}
}

