
/*header v5*/

body:not(.home) .header{
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.header-block-5 ~ .page-width-sidebar {
margin-top: 30px;
}

.header-block-5 .prettyMenu {
    float: left;
    width: auto;
    }
.header-block-5 .prettyMenu.white.pm_mobile {
    width: auto;
}   


@media (min-width: 1240px) {


   


    
.header-block-5 .prettyMenu ul:not(.main) {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
}


    
   

.header-block-5 .hvr-shutter-out-horizontal:before {
    bottom: 120px;
    }







.header-block-5 .header_v5 .header-contact {
text-align: right;
}



@media (max-width: 1240px) {
.header-block-5 .header_v5 {
    border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
}
.header-block-5 .logo-and-menu {
width: 100%;
}
}

.home .header-block-5 .header-contact {
color: #fff
}
