
/* ------------------------------------------
   HEADER 4
--------------------------------------------- */
.header-block-4 ~ .page-width-sidebar,
.header-block-4 ~ .default-fullpage {
margin-top: 30px;
}

.header-block-4 .prettyMenu {
    float: left;
    width: auto;
    }
.header-block-4 .prettyMenu.white.pm_mobile {
    width: auto;
}   


@media (min-width: 767px) {


.header-block-4 .logo {
    float: left;
    padding-right: 30px;
}
   
.header-block-4 .prettyMenu.white ul li a:before {
    background: transparent;
}

.header-block-4 .prettyMenu.white:not(.pm_mobile) ul li:hover {
    background: transparent;
}
    
.header-block-4 .prettyMenu ul:not(.main) {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
}


.header-block-4 .hvr-shutter-out-horizontal:before {
    bottom: 40px;
    }





@media (max-width: 1240px) {
.header-block-4 .header_v4 {
    padding: 5px 0;
}
.header-block-4 .logo-and-menu {
width: 100%;
}
}

.header-block-4 .logo-alt {
display: none;
}
