.fullpage > .container--extended {
  max-width: 1170px;
}
.catalog-filter {
  display: flex;
  padding-bottom: 80px;
}
.catalog-filter__row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: space-between;
}
.catalog-filter__col {
  padding-left: 15px;
  padding-right: 15px;
}
.catalog-filter__left {
  flex-grow: 1;
}
.catalog-filter__right {
  width: 30%;
}
.catalog-filter__select {
  position: relative;
}
.catalog-filter__select-btn {
  background: none;
  padding: 0;
  font-size: 24px;
  font-family: inherit;
  color: #000000;
  letter-spacing: 0.5px;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}
.catalog-filter__select-btn::after {
  content: '';
  width: 0%;
  height: 5px;
  display: block;
  background: #000000;
  transition: width 0.3s;
  margin-top: 4px;
  margin-right: auto;
}
.catalog-filter__select-btn--line::after {
  width: 100%;
}
.catalog-filter__select:hover .catalog-filter__select-btn,
.catalog-filter__select.active .catalog-filter__select-btn {
  background: none;
  color: #000000;
}
.catalog-filter__select:hover .catalog-filter__select-btn::after,
.catalog-filter__select.active .catalog-filter__select-btn::after {
  width: 100%;
  opacity: 1;
}
.catalog-filter__select-list {
  position: absolute;
  display: none;
  left: 0;
  top: auto;
  background: #ffffff;
  width: auto;
  padding: 4px 0;
  min-width: 150px;
}
.catalog-filter__select-list--open {
  display: block;
}
.catalog-filter__select-list-btn {
  background: none;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  color: #676767;
  text-align: left;
  transition: 0s !important;
}
.catalog-filter__select-list-btn:hover {
  background: none;
  color: #000000;
}
.catalog-filter__select-list-btn.active {
  font-weight: 600;
  color: #000000;
}
.catalog-filter__select.active .catalog-filter__select-list {
  display: block;
}
@media (min-width: 1200px) {
  .catalog-filter__select:hover .catalog-filter__select-list {
    display: block;
  }
}
.catalog-filter__select-actual {
  display: none;
}
.catalog-filter__reset-btn {
  color: #000000 !important;
  padding: 0;
  background: none !important;
  font-size: 18px;
  opacity: 0.5;
  border: 0;
  font-family: inherit;
}
.catalog-filter__reset-btn img {
  height: 18px;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -3px;
}
.catalog-filter__reset-btn:hover {
  opacity: 1;
}
@media (max-width: 1199px) {
  .catalog-filter {
    flex-wrap: wrap;
  }
  .catalog-filter__right,
  .catalog-filter__left {
    width: 100%;
  }
  .catalog-filter__right {
    padding-top: 45px;
    text-align: center;
  }
  .catalog-filter__col {
    width: 25%;
    border-right: 1px solid #e0e0e0;
  }
  .catalog-filter__col:nth-child(4n) {
    border-right: 0;
  }
  .catalog-filter__select-list {
    position: static;
    min-width: auto;
  }
}
@media (max-width: 991px) {
  .catalog-filter__row {
    flex-wrap: wrap;
  }
  .catalog-filter__col {
    width: 50%;
    border-right: none;
  }
  .catalog-filter__select {
    padding: 10px 0px;
  }
  .catalog-filter__select-list {
    padding-top: 15px;
  }
  .catalog-filter__select-list li {
    margin-bottom: 10px;
  }
  .catalog-filter__select-list-btn {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .catalog-filter__col {
    width: 100%;
  }
  .catalog-filter__right {
    text-align: left;
  }
}
.catalog-section-title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .catalog-section-title {
    font-size: 24px;
  }
}
.catalog-card {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000 !important;
  box-shadow: none;
  padding: 15px;
  background: #ffffff;
  margin-bottom: 80px;
}
.catalog-card__img {
  max-height: 220px;
  width: auto;
  max-width: 100%;
}
.catalog-card__name {
  padding-top: 20px;
  font-weight: 600;
  font-size: 23px;
}
.catalog-card:hover {
  transform: translateY(-25px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.watch-variants {
  position: relative;
}
.watch-variants__slider {
  width: calc(100% - 100px);
  margin: auto;
  max-width: 1040px;
}
@media (max-width: 560px) {
  .watch-variants__slider {
    width: 100%;
  }
}
.watch-variants__slider-item {
  padding: 10px 15px;
}
.watch-variants__slider-next-btn,
.watch-variants__slider-prev-btn {
  position: absolute;
  width: 44px;
  height: 44px;
  background: url('../i/slider-arrow.png') no-repeat !important;
  background-size: auto !important;
  background-position: left 48% center !important;
  border: 1px solid #4b1900;
  box-sizing: border-box;
  top: 0;
  border-radius: 100%;
  top: calc(43% - 44px);
  left: 0;
  margin: auto;
  padding: 0 !important;
  opacity: 0.7;
  z-index: 1;
}
.watch-variants__slider-next-btn:hover,
.watch-variants__slider-prev-btn:hover {
  opacity: 1;
}
.watch-variants__slider-next-btn {
  right: 0;
  left: auto;
  transform: scaleX(-1);
}
.watch-variant {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000 !important;
  box-shadow: none;
  padding: 15px;
  background: #ffffff;
  margin-bottom: 80px;
}
.watch-variant__img {
  max-height: 370px;
  width: auto;
  max-width: 100%;
}
.watch-variant__name {
  padding-top: 20px;
  font-weight: 600;
  font-size: 23px;
}
.watch-variant:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.watch-detail__row {
  display: flex;
  flex-wrap: wrap;
}
.watch-detail__col {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  flex-shrink: 0;
  flex-grow: 0;
}
.watch-detail__col--left {
  padding-left: 65px;
  width: 35.5%;
}
@media (max-width: 1199px) {
  .watch-detail__col--left {
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  .watch-detail__col--left {
    width: 100%;
  }
}
.watch-detail__col--right {
  width: 64.5%;
  flex-grow: 1;
  padding-right: 65px;
  padding-left: 150px;
}
@media (max-width: 1199px) {
  .watch-detail__col--right {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .watch-detail__col--right {
    padding-top: 35px;
    width: 100%;
  }
}
.watch-detail__img {
  text-align: center;
}
.watch-detail__img img {
  max-width: 100%;
  max-height: 550px;
}
.watch-detail__additional-imgs {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  margin-left: -5px;
  margin-right: -5px;
}
.watch-detail__additional-imgs-item {
  width: calc(50% - 10px);
  border: 1px solid #e4e4e4;
  margin: 5px;
}
.watch-detail__additional-imgs-item img {
  max-width: 100%;
}
.watch-detail__chars {
  font-size: 20px;
  padding-left: 23px;
}
@media (max-width: 767px) {
  .watch-detail__chars {
    font-size: 18px;
  }
}
.watch-detail__chars li {
  margin-bottom: 34px;
  position: relative;
}
@media (max-width: 767px) {
  .watch-detail__chars li {
    margin-bottom: 28px;
  }
}
.watch-detail__chars li::before {
  content: '';
  width: 0.45em;
  height: 0.45em;
  background: #000000;
  border-radius: 100%;
  position: absolute;
  display: block;
  left: -1em;
  top: 0.365em;
}
.watch-detail__chars a {
  text-decoration: underline;
}
.watch-detail__call-btn {
  font-size: 24px;
}
.buy-options {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 767px) {
  .buy-options {
    font-size: 16px;
  }
}
.buy-options-header {
  background: #cccccc;
  padding: 15px;
  border: 1px solid #989898;
}
.buy-options__body {
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid #989898;
}
.buy-options__item {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #989898;
}
@media (max-width: 560px) {
  .buy-options__item {
    width: 100%;
  }
}
.buy-options__row {
  padding: 10px 15px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #989898;
}
.buy-options__row--dark {
  background: #e6e6e6;
}
