.certificates{
 position: relative;
      margin-bottom: 20px;
}
.certificates .certificates-wrapp {
    content: '';
    background: url(img/sert.png);
    width: 100%;
    height: 336px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.certificates  img{
    height: 336px;
    margin: auto;
    display: block;
}

