.testimotiona_3 .avados_testimotional_item{
max-width: 600px;
  margin: auto;
  text-align: center;
}
.testimotiona_3 .avados_testimotional_author{
margin-top: 40px;
}


.testimotiona_3 .owl-carousel {
position: relative;
}
.testimotiona_3 .owl-prev,
.testimotiona_3 .owl-next {
    position: absolute;
    top: 30%;
    font-size: 25px;
    font-family: FontAwesome;

}
.testimotiona_3 .owl-prev {
left: 0;
}
.testimotiona_3 .owl-next {
right: 0;
}

.testimotiona_3  .owl-nav .owl-prev:before{
    content: "\f053";
}
.testimotiona_3 .owl-nav .owl-next:after{
    content: "\f054";
}

.testimotiona_3 .avados_testimotional_rating {
    color: #e4c100;
    font-size: 24px;
    margin-bottom: 35px;
}
.testimotiona_3 .stars {
    font-family: FontAwesome;
  font-style: normal;

}
.testimotiona_3 .rating_1_star:after {
      content: "\f005";
}
.testimotiona_3 .rating_2_star:after {
      content: "\f005";
}
.testimotiona_3 .rating_3_star:after {
      content: "\f005";
}
.testimotiona_3 .rating_4_star:after {
      content: "\f005";
      font-family: FontAwesome;
}
.testimotiona_3 .rating_5_star:after {
      font-family: FontAwesome;
      content: "\f005";
}
   
