
/* accordion */

.accordion {

}
 .accordion .block {
    margin: 20px 0;
}
.accordion .round,
.accordion .round {
    border-radius: 3px;
}
.round_block {
    border-radius: 3px;
}
.round_block.block.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: 0.5s;
}
.accordion .accordion_title {
    border: 1px solid #f0f0f0;
margin-bottom: 20px;

    font-size: 16px;
    line-height: 25px;
    text-align: left;
    padding: 15px 15px 15px 45px;
    color: #606060;
    position: relative;
    cursor: pointer;
    background-color: rgb(242, 240, 240);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), color-stop(0.5, rgb(251, 249, 249)), color-stop(0.5, rgb(247, 245, 246)), to(rgb(248, 248, 248)));
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
}

.accordion .accordion_title p {
margin: 0;
padding: 0;
}

.accordion_title.wpb_content_element {
    margin-bottom: 15px;
}

.block.vc_column_container>.vc_column-inner {
padding: 0;
}


.accordion .active .accordion_title {
    border-bottom: 1px solid #ebebeb;
}
/*.accordion .block .accordion_title:before {*/
.accordion .accordion_title:before {
    content: '+';
    position: absolute;
    top: 17px;
    left: 15px;
    width: 20px;
    height: 20px;
    line-height: 17px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
/*.accordion .active .accordion_title:before {*/
.accordion .accordion_title.active:before {

    content: '-';
    position: absolute;
    top: 17px;
    left: 15px;
    width: 20px;
    height: 20px;
    font-size: 25px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
}
.accordion .accordion_hide {

    display: none;
    color: #626262;
    line-height: 25px;
    padding: 15px 30px;
    border-left: 1px dashed #867b7b;
    margin-bottom: 20px;
    margin-left: 25px;
}

/* accordion finish */
